
<div class="seo-section">
    <div class="row">
        <input name="seoid" value="78" type="hidden">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title">
                    Title <i class="glyphicon glyphicon-info-sign info-label"></i>
                    <p class="info-tooltip">Title for a page.</p>
                </label>
                <input name="title" class="form-control pagetitle" placeholder="Enter title" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="url">Url <i class="glyphicon glyphicon-info-sign info-label"></i></label>
                <input name="url" class="form-control pageurl" placeholder="Enter URL" type="text">
                <label id="lblUrl" class=""></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="metadescription">MetaDescription <i class="glyphicon glyphicon-info-sign info-label"></i></label>
                <textarea name="metadescription" class="form-control"></textarea>
                <label id="lblCounter" class="remaining">150 characters remaining</label>
            </div>
        </div>
    </div>
</div>