<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment names="Development">
        <link href="~/resources/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/resources/toast/jquery.toast.min.css" rel="stylesheet" />
        <link href="~/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/resources/animate/animate.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/resources/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
       
    </environment>
</head>
<body>
    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Default Theme</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container ">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - WebApp</p>
        </footer>
    </div>


        <script src="~/resources/jquery/dist/jquery.min.js" ></script>
        <script src="~/resources/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/resources/jquery-validation/dist/additional-methods.js"></script>
        <script src="~/resources/toast/jquery.toast.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/resources/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
