<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment names="Development">
        <link href="~/resources/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/resources/toast/jquery.toast.min.css" rel="stylesheet" />
        <link href="~/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/resources/animate/animate.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/resources/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
       
    </environment>
    <script src="~/resources/jquery/dist/jquery.min.js"></script>
    <script src="~/resources/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/resources/jquery-validation/dist/additional-methods.js"></script>
</head>
<body>
    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Default Theme</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container ">
    <style>
        .fileupload {
            font-size: 1.25rem; /* 20 */
            background-color: #c8dadf;
            position: relative;
            padding: 100px 20px;
        }

            .fileupload.has-advanced-upload {
                outline: 2px dashed #92b0b3;
                outline-offset: -10px;
                -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
                transition: outline-offset .15s ease-in-out, background-color .15s linear;
            }

            .fileupload.is-dragover {
                outline-offset: -20px;
                outline-color: #c8dadf;
                background-color: #fff;
            }

        .fileupload__dragndrop,
        .fileupload__icon {
            display: none;
        }

        .fileupload.has-advanced-upload .fileupload__dragndrop {
            display: inline;
        }

        .fileupload.has-advanced-upload .fileupload__icon {
            width: 100%;
            height: 80px;
            fill: #92b0b3;
            display: block;
            margin-bottom: 40px;
        }

        .fileupload.is-uploading .fileupload__input,
        .fileupload.is-success .fileupload__input,
        .fileupload.is-error .fileupload__input {
            visibility: hidden;
        }

        .fileupload__uploading,
        .fileupload__success,
        .fileupload__error {
            display: none;
        }

        .fileupload.is-uploading .fileupload__uploading,
        .fileupload.is-success .fileupload__success,
        .fileupload.is-error .fileupload__error {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            -webkit-transform: translateY( -50% );
            transform: translateY( -50% );
        }

        .fileupload__uploading {
            font-style: italic;
        }

        .fileupload__success {
            -webkit-animation: appear-from-inside .25s ease-in-out;
            animation: appear-from-inside .25s ease-in-out;
        }

        @@-webkit-keyframes appear-from-inside {
            from {
                -webkit-transform: translateY( -50% ) scale( 0 );
            }

            75% {
                -webkit-transform: translateY( -50% ) scale( 1.1 );
            }

            to {
                -webkit-transform: translateY( -50% ) scale( 1 );
            }
        }

        @@keyframes appear-from-inside {
            from {
                transform: translateY( -50% ) scale( 0 );
            }

            75% {
                transform: translateY( -50% ) scale( 1.1 );
            }

            to {
                transform: translateY( -50% ) scale( 1 );
            }
        }

        .fileupload__restart {
            font-weight: 700;
        }

            .fileupload__restart:focus,
            .fileupload__restart:hover {
                color: #39bfd3;
            }

        .js .fileupload__file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

            .js .fileupload__file + label {
                max-width: 80%;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                display: inline-block;
                overflow: hidden;
            }

                .js .fileupload__file + label:hover strong,
                .fileupload__file:focus + label strong,
                .fileupload__file.has-focus + label strong {
                    color: #39bfd3;
                }

            .js .fileupload__file:focus + label,
            .js .fileupload__file.has-focus + label {
                outline: 1px dotted #000;
                outline: -webkit-focus-ring-color auto 5px;
            }

            .js .fileupload__file + label * {
                /* pointer-events: none; */ /* in case of FastClick lib use */
            }

        .no-js .fileupload__file + label {
            display: none;
        }

        .no-js .fileupload__button {
            display: block;
        }

        .fileupload__button {
            font-weight: 700;
            color: #e5edf1;
            background-color: #39bfd3;
            display: none;
            padding: 8px 16px;
            margin: 40px auto 0;
        }

            .fileupload__button:hover,
            .fileupload__button:focus {
                background-color: #0f3c4b;
            }
    </style>

    <div class="fileupload has-advanced-upload">

        <div class="fileupload__input">
            <i class="fa fa-cloud-upload " aria-hidden="true"></i>

            <input name="files[]" id="file" class="fileupload__file" data-multiple-caption="{count} files selected" multiple="" type="file">
            <label for="file"><strong>Choose a file</strong><span class="fileupload__dragndrop"> or drag it here</span>.</label>
            <button type="submit" class="fileupload__button">Upload</button>
        </div>


        <div class="fileupload__uploading">Uploading…</div>
        <div class="fileupload__success">Done! <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?" class="fileupload__restart" role="button">Upload more?</a></div>
        <div class="fileupload__error">Error! <span></span>. <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?" class="fileupload__restart" role="button">Try again!</a></div>
        <input name="ajax" value="1" type="hidden">
    </div>

    <script>

	'use strict';

	;( function ( document, window, index )
	{
		// feature detection for drag&drop upload
		var isAdvancedUpload = function()
			{
				var div = document.createElement( 'div' );
				return ( ( 'draggable' in div ) || ( 'ondragstart' in div && 'ondrop' in div ) ) && 'FormData' in window && 'FileReader' in window;
			}();


		// applying the effect for every form
		var forms = document.querySelectorAll( '.fileupload' );
		Array.prototype.forEach.call( forms, function( form )
		{
			var input		 = form.querySelector( 'input[type="file"]' ),
				label		 = form.querySelector( 'label' ),
				errorMsg	 = form.querySelector( '.fileupload__error span' ),
				restart		 = form.querySelectorAll( '.fileupload__restart' ),
				droppedFiles = false,
				showFiles	 = function( files )
				{
					label.textContent = files.length > 1 ? ( input.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', files.length ) : files[ 0 ].name;
				},
				triggerFormSubmit = function()
				{
					var event = document.createEvent( 'HTMLEvents' );
					event.initEvent( 'submit', true, false );
					form.dispatchEvent( event );
				};

			// letting the server side to know we are going to make an Ajax request
			var ajaxFlag = document.createElement( 'input' );
			ajaxFlag.setAttribute( 'type', 'hidden' );
			ajaxFlag.setAttribute( 'name', 'ajax' );
			ajaxFlag.setAttribute( 'value', 1 );
			form.appendChild( ajaxFlag );

			// automatically submit the form on file select
			input.addEventListener( 'change', function( e )
			{
				showFiles( e.target.files );


				triggerFormSubmit();


			});

			// drag&drop files if the feature is available
			if( isAdvancedUpload )
			{
				form.classList.add( 'has-advanced-upload' ); // letting the CSS part to know drag&drop is supported by the browser

				[ 'drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop' ].forEach( function( event )
				{
					form.addEventListener( event, function( e )
					{
						// preventing the unwanted behaviours
						e.preventDefault();
						e.stopPropagation();
					});
				});
				[ 'dragover', 'dragenter' ].forEach( function( event )
				{
					form.addEventListener( event, function()
					{
						form.classList.add( 'is-dragover' );
					});
				});
				[ 'dragleave', 'dragend', 'drop' ].forEach( function( event )
				{
					form.addEventListener( event, function()
					{
						form.classList.remove( 'is-dragover' );
					});
				});
				form.addEventListener( 'drop', function( e )
				{
					droppedFiles = e.dataTransfer.files; // the files that were dropped
					showFiles( droppedFiles );


					triggerFormSubmit();

									});
			}


			// if the form was submitted
			form.addEventListener( 'submit', function( e )
			{
				// preventing the duplicate submissions if the current one is in progress
				if( form.classList.contains( 'is-uploading' ) ) return false;

				form.classList.add( 'is-uploading' );
				form.classList.remove( 'is-error' );

				if( isAdvancedUpload ) // ajax file upload for modern browsers
				{
					e.preventDefault();

					// gathering the form data
					var ajaxData = new FormData( form );
					if( droppedFiles )
					{
						Array.prototype.forEach.call( droppedFiles, function( file )
						{
							ajaxData.append( input.getAttribute( 'name' ), file );
						});
					}

					// ajax request
					var ajax = new XMLHttpRequest();
					ajax.open( form.getAttribute( 'method' ), form.getAttribute( 'action' ), true );

					ajax.onload = function()
					{
						form.classList.remove( 'is-uploading' );
						if( ajax.status >= 200 && ajax.status < 400 )
						{
							var data = JSON.parse( ajax.responseText );
							form.classList.add( data.success == true ? 'is-success' : 'is-error' );
							if( !data.success ) errorMsg.textContent = data.error;
						}
						else alert( 'Error. Please, contact the webmaster!' );
					};

					ajax.onerror = function()
					{
						form.classList.remove( 'is-uploading' );
						alert( 'Error. Please, try again!' );
					};

					ajax.send( ajaxData );
				}
				else // fallback Ajax solution upload for older browsers
				{
					var iframeName	= 'uploadiframe' + new Date().getTime(),
						iframe		= document.createElement( 'iframe' );

						$iframe		= $( '<iframe name="' + iframeName + '" style="display: none;"></iframe>' );

					iframe.setAttribute( 'name', iframeName );
					iframe.style.display = 'none';

					document.body.appendChild( iframe );
					form.setAttribute( 'target', iframeName );

					iframe.addEventListener( 'load', function()
					{
						var data = JSON.parse( iframe.contentDocument.body.innerHTML );
						form.classList.remove( 'is-uploading' )
						form.classList.add( data.success == true ? 'is-success' : 'is-error' )
						form.removeAttribute( 'target' );
						if( !data.success ) errorMsg.textContent = data.error;
						iframe.parentNode.removeChild( iframe );
					});
				}
			});


			// restart the form if has a state of error/success
			Array.prototype.forEach.call( restart, function( entry )
			{
				entry.addEventListener( 'click', function( e )
				{
					e.preventDefault();
					form.classList.remove( 'is-error', 'is-success' );
					input.click();
				});
			});

			// Firefox focus bug fix for file input
			input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
			input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });

		});
	}( document, window, 0 ));

    </script>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - WebApp</p>
    </footer>
</div>


      
        <script src="~/resources/toast/jquery.toast.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/resources/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
