@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @*<component name="PluginOne" params="new {number = 5 }"></component>*@
    @await Component.InvokeAsync("PluginOne", new {number = 5})
    @*@await Component.InvokeAsync("Kachuwa.PluginOne.Simple", new { number = 5 })*@
</div>
<div >
    
    @*plugin loader
    <theme view="alu" controller="akjslfkajsdf">
        <placeholder>
            <module name="xyz"></module>
            <module name="xyz"></module>
        </placeholder>
        <placeholder>
            <module name="xyz"></module>
        </placeholder>
        <placeholder>
            <module name="xyz"></module>
        </placeholder>
    </theme>
    
    <alert></alert>*@
</div>
