@model IEnumerable<Kachuwa.Web.Model.Menu>
<div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Main Menu -->
        <div class="side-menu-container">
            <!-- Brand -->
            <div class="brand-name-wrapper">
                <a class="" href="#">
                    <img src="~/themes/shared/admin/images/logo.png" class="img-responsive" alt="Kachuwa" />

                </a>
            </div>
            <span class="menu-label">Menu</span>
            <ul class="nav navbar-nav">
                <!--TODO RECURSIVE-->
                @foreach (var menu in Model)
                {
                    <li class="active"><a href="@menu.Url">
                        @if (string.IsNullOrEmpty(menu.Icon))
                        {
                            <i class="material-icons md-18">@menu.Icon</i>
                        }
                        @menu.Name
                    </a></li>
                }

                @*<li class="active"><a href="#"><i class="material-icons md-18">home</i>Dashboard</a></li>
                <!-- Dropdown-->
                <li class="" id="movie">
                    <a data-toggle="collapse" href="#movie-lvl1">
                        <i class="material-icons md-18">movie</i>Movie Management<span class="caret text-right"></span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="movie-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/admin/genre">Genre</a></li>
                                <li><a href="/admin/motionpicture">Motion Picture Rating</a></li>
                                <li><a href="/admin/distributor">Distributor</a></li>
                                <li><a href="/admin/movie">Movie</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Dropdown-->
                <li class="panel " id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <i class="material-icons md-18">theaters</i>Theater Management<span class="caret text-right"></span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/admin/theater/company">Theater Company</a></li>
                                <li><a href="/admin/theater/type">Theater Type</a></li>
                                <li><a href="/admin/theater">Theater</a></li>
                            </ul>
                         
                        </div>
                    </div>
                </li>

                <!-- Dropdown-->
                <li class="" id="screen">
                    <a data-toggle="collapse" href="#screen-lvl1">
                        <i class="material-icons md-18">theaters</i>Screen Management<span class="caret text-right"></span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="screen-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/admin/seat/type">Seat Type</a></li>
                                <li><a href="/admin/screen">Screen</a></li>
                            </ul>
                         
                        </div>
                    </div>
                </li>

                <li><a href="#"><i class="material-icons md-18">event_seat</i>Event Management</a></li>
                <li><a href="#"><i class="material-icons md-18">local_activity</i>Ticketing Rules</a></li>
                <li><a href="#"><i class="material-icons md-18">local_pizza</i>Food Court</a></li>
                <li><a href="#"><i class="material-icons md-18">settings</i>Settings</a></li>*@
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

</div>