@using Kachuwa.Form
@using Kachuwa.KGrid
@using Kachuwa.Web
@model PageViewModel
@{
    ViewData["Title"] = "New Page";
}

<section class="container-fluid">
    <div class="row">
        <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="cardform-wrapper">

                @(Html.CreateKachuwaForm<PageViewModel>("pageForm", Model)
                                .SetHeading("")
                                .ActionUrl("/admin/page/new")
                                .CancelUrl("/admin/page")
                                .CreateSection(section =>
                                {
                                    section.Add("section1", "cardform-section", rows =>
                                    {
                                        rows.Add("1strow", "row", columns =>
                                        {
                                            columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                <h4>Page Info</h4>
                                                                                <p>general information about page</p>
                                                                            </div>);
                                            columns.Add("right", "col-md-8", control =>
                                            {
                                                control.Add("form-control", model => model.PageId, FormInputControl.Hidden);

                                                control.Add("form-control keychange", x => x.Name, FormInputControl.TextBox).SetPlaceHolder("Enter Page Name")
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-12");

                                                control.Add("form-control", model => model.UseMasterLayout, FormInputControl.Switch)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");

                                                control.Add("form-control", model => model.IsActive, FormInputControl.Switch)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");

                                                control.Add("form-control", model => model.IsPublished, FormInputControl.Switch)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-12");


                                            }).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                        });
                                        rows.Add("12strow", "row", columns =>
                                        {
                                            columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                <h4>SEO Info</h4>
                                                                                <p>provide short and powerfull content that helps search engine to find easily.</p>
                                                                            </div>);
                                            columns.Add("12strow1stcol", "", @<div>
                                                                                 <input type="hidden" name="IsNew" value="true"/>
                                                                                 <input type="hidden" name="OldUrl" value=""/>
                                                                                 <input name="SeoType" value="page" type="hidden"/>
                                                                             </div>);
                                            columns.Add("right", "col-md-8", control =>
                                            {
                                                control.Add("form-control", model => model.SEOId, FormInputControl.Hidden);

                                                control.Add("form-control keychange", x => x.MetaTitle, FormInputControl.TextBox)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");
                                                control.Add("form-control urlchange", x => x.Url, FormInputControl.TextBox)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");
                                                control.Add("form-control", model => model.MetaDescription, FormInputControl.TextArea)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");
                                                control.Add("form-control", model => model.Image, FormInputControl.Image)
                                                    .SetFirstParentClass("form-group")
                                                    .SetSecondParentClass("col-md-6");

                                            }).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                        });

                                    })
                                        .SetHeading("Add New Page");
                                }))
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript" asp-add-nonce="true">
        (function () {
            $(document).off("input", ".keychange").on("input",
                ".keychange",
                function(event) {
                    var name = $(this).val();
                    var nameWithoutSpace = name.replace(/\s\s+/g, ' ');
                    var nameWithoutSpecialChar = nameWithoutSpace.replace(/[^a-zA-Z 0-9 -]+/g, "");
                    if (this.name == "MetaTitle") {
                        $(this).val(nameWithoutSpecialChar);
                    } else
                        $(".keychange").val(nameWithoutSpecialChar);
                   $(".urlchange").val($.trim(nameWithoutSpecialChar).replace(/ /g, "-"));
                });

            $(document).off("input", ".urlchange").on("input",
                ".urlchange",
                function(event) {
                    var fulltxt = $(this).val();
                    var pagename = fulltxt.replace("/", "");
                    var pagenam2 = fulltxt.replace("/", "");
                    var nameWithoutSpace = pagename.replace(/ /g, "");
                    var dnameWithSpace = pagenam2.replace(/-/g, " ");
                    var nameWithoutSpecialChar = nameWithoutSpace.replace(/[^a-zA-Z 0-9 -]+/g, "");
                    var nameWithoutSpecialChar2 = dnameWithSpace.replace(/[^a-zA-Z 0-9 -]+/g, "");
                    $(this).val(nameWithoutSpecialChar.replace(/\-+/g, '-'));
                });
          
        })();


    </script>
}