<li role="presentation" class="dropdown">
    <a href="javascript:;" class="icon-anchor dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="material-icons ">notifications</i>
        <span class="badge">6</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li>
            <a>
                <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <a>
                <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
            </a>
        </li>
        <li>
            <div class="text-center">
                <a>See All Alerts</a>
            </div>
        </li>
    </ul>
</li>