@using Kachuwa.ContactUs
@model Kachuwa.ContactUs.ContactUsInfo

<form action="/Api/v1/contactus/save" method="post">
    <h2>@Model.Name</h2>
    <input type="text" name="name" value=""/>
    <input type="text" name="email" value=""/>
    <input type="text" name="message" value=""/>
    <input type="submit" value="Submit"/>
</form>
<component name="ContactUsManage" ></component>
<plugin name="PluginOne" component="pluginone"></plugin>