@using Kachuwa.Web.Form
@using Kachuwa.Web.Grid
@using Kachuwa.Localization
@model ChangePasswordViewModel
@inject ILocaleResourceProvider LocaleResource
@{

    LocaleResource.LookUpGroupAt("User");
    ViewData["Title"] = LocaleResource.Get("User.ChangePassword.PageTitle");
}

<section class="container-fluid">
    <div class="row">
        <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="cardform-wrapper">

                @(Html.CreateKachuwaForm<ChangePasswordViewModel>("dd", Model)
                                                        .SetHeading("")
                                                        .ActionUrl("/admin/user/changepassword")
                                                        .CancelUrl("/admin/user")
                                                        .CreateSection(section =>
                                                        {
                                                            section.Add("section1", "form-section", rows =>
                                                            {
                                                                rows.Add("1strow", "row", columns =>
                                                                {
                                                                    columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                                        <h4>@LocaleResource.Get("ser.ChangePassword.Info")</h4>
                                                                                                        <p>@LocaleResource.Get("ser.ChangePassword.InfoText")</p>
                                                                                                        <p><input type="hidden" name="OldPassword" value="123456789"/></p>
                                                                                                    </div>);
                                                                    columns.Add("right", "col-md-8", control =>
                                                                    {



                                                                        control.Add("form-control", model => model.Email, FormInputControl.Email)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.ChangePassword.Help.Email"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.ChangePassword.PlaceHolder.Email"))
                                                                            .SetDisplayName(LocaleResource.Get("User.ChangePassword.Form.Email"));

                                                                        control.Add("form-control", model => model.NewPassword, FormInputControl.Password)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.ChangePassword.Help.NewPassword"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.ChangePassword.PlaceHolder.NewPassword"))
                                                                            .SetDisplayName(LocaleResource.Get("User.ChangePassword.Form.NewPassword"));

                                                                        control.Add("form-control", model => model.ConfirmPassword, FormInputControl.Password)
                                                                            .SetFirstParentClass("form-group")
                                                                            .SetSecondParentClass("col-md-12")
                                                                            .SetHelp(LocaleResource.Get("User.ChangePassword.Help.ConfirmPassword"))
                                                                            .SetPlaceHolder(LocaleResource.Get("User.ChangePassword.PlaceHolder.ConfirmPassword"))
                                                                            .SetDisplayName(LocaleResource.Get("User.ChangePassword.Form.ConfirmPassword"));



                                                                    }).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                                                });

                                                            })
                                                                .SetHeading(LocaleResource.Get("User.ChangePassword.Form.Title"));
                                                        }))
            </div>
        </div>
    </div>
</section>

