// MARKUP:
//
// <div class="masonry">
//   <div class="item col-*">
//       ...
//   </div>
// </div>
//
// MODIFIERS:
// .modal-trigger[data-modal-id] - use any element to trigger a modal using its ID
// [data-autoshow] - place on '.modal-container' outside the main container for autoshow modals
// [data-width][data-height] - place on modal content to control height in %

.masonry{
	.masonry-container{
		&.active{
			.item{
				opacity: 1;
				pointer-events: initial;
			}
		}
		.item{
			opacity: 0;
			pointer-events: none;
		}
	}
	.filters{
		li{
			display: inline-block;
			cursor: pointer;
			text-transform: capitalize;
			@include disable-select();
			&.active{
				cursor: default;
			}
		}
	}
	&.no-gaps{
		.item{
			padding: 0 !important;
			margin-bottom: 0;
		}
	}
}