@{
    ViewData["Title"] = "Access denied";
}


    <section class="bg-dark">
        <h2 class="text-danger text-center">@ViewData["Title"]</h2>
        <p class="text-danger text-center">You do not have access to this resource.</p>
    </section>

