@{
    ViewData["Title"] = "Forgot password confirmation";
}
    <div class="row justify-content-md-center px-4">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <h3 class="mb-4">@ViewData["Title"]</h3>
            <div class="card p-4">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
