@model Kachuwa.Identity.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<section class="bg-grey">
<div class="container">
        <div class="container">
            <div class="register-form form-center">
                <h3 class="text-uppercase font-nmrl margin-btm-30">Create Account</h3>
                <div class="self-form">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div class="form-group">
                            <label>First Name</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender"></label>
                            <div class="">
                                <select class="form-control" name="Gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                      
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input name="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label >Re-Type Password</label>
                            <input name="ConfirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="createaccount-btn">
                            <button type="submit" class="btn-login btn-primary btn-uppercase margin-15">Register</button>
                            <p>
                                By Creating an account you accept
                                <br>all <a href="/user-terms-condition">Terms and conditions</a> applied
                            </p>
                            <button class="btn-alreadyaccount btn-unfilled btn-uppercase mar-btm-15" onclick="window.location.href='/account/login'">Already have an account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
