@{
    ViewData["Title"] = "Confirm email";
}

<section class="container">
    <h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for registration,please check your email and confirm it.
    </p>
</div>
</section>
