@{
    ViewData["Title"] = "Confirm email";
}

    <div class="row justify-content-md-center px-4">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <h3 class="mb-4">@ViewData["Title"]</h3>
            <div class="card p-4">

                <div>
                    <p>
                        Thank you for registration,please check your email and confirm it.
                    </p>
                </div>
            </div>
        </div>
    </div>
