<form action="/Api/v1/contactus/save" method="post">
    <input type="text" name="name" value=""/>
    <input type="text" name="email" value="" />
    <input type="text" name="message" value="" />
    <input type="submit" value="Submit"/>
</form>