@using Kachuwa.Web

<section class="container-fluid">
    <h2 class="view-title">Dashboard</h2>
    <div class="row">
        <div class="col-wrapper col-lg-8 col-md-7 col-sm-12 col-xs-12">
            <div class="panel_wrapper">
                <div class="panel module" drop-accordion" id="overview" role="tablist" aria-multiselectable="true">
                    <div class="panel-inner">
                        <div class="panel-heading tab-collapsed">
                            <h4 class="panel-title">
                                Overview
                                <a class="collapse-controle" data-toggle="collapse" data-parent="#overview" href="#overviewOne" aria-expanded="true" aria-controls="overviewOne">
                                    <span class="expand-icon-wrap pull-right"><i class="material-icons">keyboard_arrow_up</i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="overviewOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row figures-wrapper">
                                    <div class="item  figures-brief col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="item-title">
                                            <h4>
                                                <i class="material-icons">keyboard_arrow_up</i>
                                                <span>Total Ticket Sales</span>
                                            </h4>
                                            <p class="item-figure">
                                                1234586
                                            </p>
                                        </div>
                                        <div class="mini-glance-chart">
                                            <span class="peity-line-data-attributes"
                                                  style="display: none;">2,3,6,6,8,9,4,6,5,3</span>

                                        </div>
                                    </div>
                                    <div class="item  figures-brief col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="item-title">
                                            <h4>
                                                <i class="material-icons">keyboard_arrow_up</i>
                                                <span>Total Ticket Sales</span>
                                            </h4>
                                            <p class="item-figure">
                                                1234586
                                            </p>
                                        </div>
                                        <div class="mini-glance-chart">
                                            <span class="peity-line-data-attributes">2,3,6,6,8,9,4,6,5,3</span>

                                        </div>
                                    </div>
                                    <div class="item  figures-brief col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="item-title">
                                            <h4>
                                                <i class="material-icons">keyboard_arrow_up</i>
                                                <span>Total Ticket Sales</span>
                                            </h4>
                                            <p class="item-figure">
                                                1234586
                                            </p>
                                        </div>
                                        <div class="mini-glance-chart">
                                            <span class="peity-line-data-attributes" data-peity="{ " fill": "rgba(64, 186, 189, 0.2)" , "stroke" : "rgba(0, 0, 0, 0.7)" , "strokeWidth" : 2, "width" : 120}" style="display: none;"
                                                  style="display: none;">2,3,6,6,8,9,4,6,5,3</span>

                                        </div>
                                    </div>
                                    <div class="item  figures-brief col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="item-title">
                                            <h4>
                                                <i class="material-icons">keyboard_arrow_up</i>
                                                <span>Total Ticket Sales</span>
                                            </h4>
                                            <p class="item-figure">
                                                1234586
                                            </p>
                                        </div>
                                        <div class="mini-glance-chart">
                                            <span class="peity-line-data-attributes"
                                                  style="display: none;">2,3,6,6,8,9,4,6,5,3</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="chart-continer">
                                    <canvas id="linechart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-wrapper col-lg-4 col-md-5 col-sm-12 col-xs-12">
            <div class="panel_wrapper">
                <div class="panel module" drop-accordion" id="engagement" role="tablist" aria-multiselectable="true">
                    <div class="panel-inner">
                        <div class="panel-heading tab-collapsed">
                            <h4 class="panel-title">
                                Overview
                                <a class="collapse-controle" data-toggle="collapse" data-parent="#engament" href="#engagementOne" aria-expanded="true" aria-controls="engagementOne">
                                    <span class="expand-icon-wrap pull-right"><i class="material-icons">keyboard_arrow_up</i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="engagementOne" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <div class="chart-holder">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h1>App Insights</h1>

        <ul id="msgs"></ul>
    </div>
</section>
<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>

@section scripts{
    <script type="text/javascript">

        // $(document).ready(function() {
       // var connection = new WebSocketManager.Connection("ws://" + window.location.host + "@SocketHubs.AppInsight");
      //var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = "ws://" + window.location.host + "@SocketHubs.AppInsight";
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            $('#msgs').append(e.data + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        //$('#MessageField').keypress(function (e) {
        //    if (e.which != 13) {
        //        return;
        //    }

        //    e.preventDefault();

        //    var message = userName + ": " + $('#MessageField').val();
        //    socket.send(message);
        //    $('#MessageField').val('');
        //});
    </script>
}
