@using Kachuwa.Web.Model
@using Kachuwa.Web.Form
@using Kachuwa.Web.Grid
@using Kachuwa.Localization
@using Kachuwa.Plugin
@model PluginViewModel
@inject ILocaleResourceProvider LocaleResource
@{
    LocaleResource.LookUpGroupAt("Plugins");
    ViewData["Title"] = LocaleResource.Get("Plugins.PageTitle.New");
}


<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="cardform-wrapper">

                @(
                                                    Html.CreateKachuwaForm<PluginViewModel>("pgfrom", Model)
                                                    .SetHeading("")
                                                        .EncType("multipart/form-data")
                                                        .ActionUrl("/admin/plugins/new")
                                                        .CancelUrl("/admin/plugins")
                                                    .CreateSection(section =>
                                                    {
                                                        section.Add("section1", "form-section", rows =>
                                                        {
                                                            rows.Add("1strow", "row", columns =>
                                                            {
                                                                columns.Add("left", "col-md-4", @<div class="form-description">
                                                                                                    <h4>@LocaleResource.Get("Plugins.Info.Plugins")</h4>

                                                                                                    <p>
                                                                                                        @LocaleResource.Get("Plugins.Info.PluginsText")
                                                                                                    </p>
                                                                                                    <p>
                                                                                                        @LocaleResource.Get("Plugins.Info.PluginsText2")
                                                                                                    </p>
                                                                                                </div>);
                                                                columns.Add("right", "col-md-8", control =>
                                                                {
                                                                    control.Add("form-control", model => model.PluginZipFile, FormInputControl.File)
                                                                        .SetFirstParentClass("form-group")
                                                                        .SetSecondParentClass("col-md-12")
                                                                        .SetHelp(LocaleResource.Get("Plugins.Help.PluginZipFile"))
                                                                        .SetPlaceHolder(LocaleResource.Get("Plugins.PlaceHolder.PluginZipFile"))
                                                                        .SetDisplayName(LocaleResource.Get("Plugins.Form.PluginZipFile"));

                                                                }).SetFirstChildClass("forminput-section").SetSecondChildClass("row");
                                                            });
                                                        })
                                                            .SetHeading(LocaleResource.Get("Plugins.Form.Title.New"));
                                                    }))
            </div>
        </div>
    </div>
</section>



