@using Kachuwa.Web
@{
    ViewData["Title"] = "Dashboard";
}

<section class="container-fluid">
    <div class="row">
        <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="grid-section">
                <div class="panel module" aria-multiselectable="true">
                    <div class="panel-inner">

                        <div class="panel-heading clearfix">
                            <h2 class="panel-title pull-left col-md-2 col-xs-6" style="padding-top: 7.5px;">DashBoard</h2>
                            <div class="input-group col-md-9 col-xs-4">
                                <div class="input-group-btn pull-right">
                                    @*<a href="/admin/page/new" class="btn btn-primary"><i class="fa fa-plus"></i>Add</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="panel-collapse" aria-labelledby="headingOne"
                             aria-expanded="true">
                            <div class="panel-body">
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

