@using Kachuwa.HtmlContent.Model

<h2>Setting</h2>
<p>
    this is setting
</p>

<script>
    (function() {
        //pageLayoutManaget at page mgmnt
        pageLayoutManager.CurrentModule('key="' + "asdf" + '"');
    })()
</script>