/*! - Stack Icons - */

.icon{
	&:not(.block){
		display: inline-block;
	}
	&.icon-xs{
		font-size: 1.14285714285714em;
	}
}

.text-block{
	.icon-lg{
		+h4{
			margin-top: 0.6842105263158em;
		}
	}
}

.imagebg{
	.icon{
		color: #fff;
	}
}

p{
	.material-icons{
		font-size: 1em;
		&:first-child{
			margin-right: $base-line-height/6;
		}
	}
}