<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoBanX Nepal -Your Digital Mobile Banking Friend</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="MoBanX Nepal -Your Digital Mobile Banking Friend" name="description" />
    <meta content="Digital Banking Nepal Mobile Banking MoBanx Mobile Banking Utility Co-operative " name="keywords" />
    <meta content="silent turtle pvt. ltd" name="author" />
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link href="/themes/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/style.css" rel="stylesheet" type="text/css" />

    <!-- color scheme -->
    <link id="colors" href="/themes/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="/themes/css/coloring.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="wrapper">

       

        @RenderBody()
        <footer class="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 sm-text-center mb-sm-30">
                        <div class="mt10">&copy; Copyright 2021 - Silent Turtle Pvt.Ltd</div>
                    </div>

                    <div class="col-md-6 text-md-right text-sm-left">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/silentturtle.pvt.ltd"><i class="fa fa-facebook fa-lg"></i></a>
                            @*<a href="#"><i class="fa fa-linkedin fa-lg"></i></a>*@
                            <a href="https://www.instagram.com/silentturtlepvtltd/"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->

        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="/themes/js/jquery.min.js"></script>
    <script src="/themes/js/bootstrap.min.js"></script>
    <script src="/themes/js/wow.min.js"></script>
    <script src="/themes/js/jquery.isotope.min.js"></script>
    <script src="/themes/js/easing.js"></script>
    <script src="/themes/js/owl.carousel.js"></script>
    <script src="/themes/js/validation.js"></script>
    <script src="/themes/js/jquery.magnific-popup.min.js"></script>
    <script src="/themes/js/enquire.min.js"></script>
    <script src="/themes/js/jquery.stellar.min.js"></script>
    <script src="/themes/js/jquery.plugin.js"></script>
    <script src="/themes/js/typed.js"></script>
    <script src="/themes/js/jquery.countTo.js"></script>
    <script src="/themes/js/jquery.countdown.js"></script>
    <script src="/themes/js/designesia.js"></script>





    @RenderSection("Scripts", required: false)
</body>
</html>
