@using Kachuwa.Web
@using Kachuwa.Web.Optimizer
@inject IKachuwaBundler  bundler
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kachuwa Framework</title>
    @await bundler.BundleCss("bs4-fa", new string[] { "~/lib/bootstrap/dist/css/bootstrap.min.css", "~/lib/font-awesome/css/font-awesome.min.css" })
    <link href="~/Themes/Shared/Default/css/theme.min.css" rel="stylesheet" />
    @await bundler.BundleJs("jquery-default", new string[] { "~/lib/jquery/dist/jquery.min.js", "~/lib/jquery-validation/dist/jquery.validate.js", "~/lib/jquery-validation/dist/additional-methods.min.js" })
</head>
<body>
   
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Kachuwa Framework</p>
        </footer>
    @RenderSection("Scripts", required: false)

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
