

.kachuwa-grid .table a.table-link.danger {
    color: #e74c3c;
}

.kachuwa-grid .label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}

.kachuwa-grid tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

.kachuwa-grid table tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.kachuwa-grid a {
    color: #3498db;
    outline: none !important;
}

.kachuwa-grid table tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.kachuwa-grid .table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}

.kachuwa-grid .table thead tr th {
    border-bottom: 2px solid #e7ebee;
}

.kachuwa-grid .table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}

.kachuwa-grid .table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.switchslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .switchslider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .switchslider {
    background-color: #2196F3;
}

input:focus + .switchslider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded switchsliders */
.switchslider.round {
    border-radius: 34px;
}

    .switchslider.round:before {
        border-radius: 50%;
    }
