<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/themes/shared/admin/css/styles.css" rel="stylesheet" />
       
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
       
        <link href="~/themes/shared/admin/css/styles.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <!-- Menu -->
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="" href="#">
                            <img src="~/themes/shared/admin/images/logo.png"  class="img-responsive" alt="Kachuwa" />
                           
                        </a>
                    </div>
                    <span class="menu-label">Menu</span>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="material-icons md-18">home</i>Dashboard</a></li>
                        <!-- Dropdown-->
                        @*<li class="panel panel-default" id="dropdown">
                            <a data-toggle="collapse" href="#dropdown-lvl1">
                                <i class="material-icons md-18">theaters</i>Theater Management<span class="caret text-right"></span>
                            </a>
                             Dropdown level 1 
                            <div id="dropdown-lvl1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#">Theater 1</a></li>
                                        <li><a href="#">Theater 2</a></li>
                                        <li><a href="#">Theater 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="material-icons md-18">event_seat</i>Event Management</a></li>
                        <li><a href="#"><i class="material-icons md-18">local_activity</i>Ticketing Rules</a></li>
                        <li><a href="#"><i class="material-icons md-18">local_pizza</i>Food Court</a></li>*@
                        <li><a asp-area="Admin" asp-controller="Page" asp-action="Index"><i class="material-icons md-18">settings</i>Page</a></li>
                        <li><a asp-area="Admin" asp-controller="Module" asp-action="Index"><i class="material-icons md-18">settings</i>Modules</a></li>
                        <li><a href="#"><i class="material-icons md-18">settings</i>Plugins</a></li>
                        <li><a href="#"><i class="material-icons md-18">settings</i>Theme</a></li>
                        <li><a href="#"><i class="material-icons md-18">settings</i>Permission</a></li>
                        <li><a href="#"><i class="material-icons md-18">settings</i>User</a></li>
                        <li><a href="#"><i class="material-icons md-18">settings</i>Settings</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

        </div>

       

        <div class="side-body">
            <!-- Top Navigation Menu -->
            <div class="top_nav">
                <a href="javascript:;" class="icon-anchor hamburger"><i class="material-icons">menu</i></a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          
                            <img src="" class="img-circle" alt="BT">
                             @User.Identity.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="javascript:;"> Profile</a></li>

                            <li><a href="javascript:;">Help</a></li>
                            <li><a href="/account/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="icon-anchor dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons ">notifications</i>
                            <span class="badge">6</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                            <li>
                                <a>
                                    <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                                    <span>
                                        <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                                    <span>
                                        <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                                    <span>
                                        <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="image"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg" alt="Profile Image"></span>
                                    <span>
                                        <span>John Smith</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <div class="text-center">
                                    <a>See All Alerts</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="content-wrapper">
                @RenderBody()
             
            </div>
        </div>
      
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/chart.js/dist/chart.js"></script>

    <script src="~/resources/peity/jquery.peity.min.js"></script>
    <script src="~/themes/shared/admin/js/main.js"></script>
    <script src="~/resources/holderjs/holder.min.js"></script>
    <script type="text/javascript">
        var linechart = document.getElementById("linechart");
        var linechart = new Chart(linechart, {
            type: 'line',
            data: {
                labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                datasets: [{
                    label: "Facebook",
                    backgroundColor: "rgba(75,192,192,0.5)",
                    borderColor: "rgba(75,192,192,1)",
                    borderWidth: 1,
                    showTooltip: false, //NEW OPTION DON"T NEED TO INCLUDE IT IF YOU WANT TO DISPLAY BUT WON"T HURT IF YOU DO
                    data: [15, 35, 20, 75, 13, 86, 10]
                }, {
                    label: "Twitter",
                    backgroundColor: "rgba(175, 75, 192, 0.5)",
                    borderColor: "rgba(175, 75, 192, 1)",
                    borderWidth: 1,
                    data: [28, 48, 40, 19, 86, 27, 90]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $(".line").peity("line");

    </script>
<environment names="Development">
   
</environment>
<environment names="Staging,Production">
   
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
