a {
    color: #3BCE64;
}

    a:hover {
        color: #57585b;
    }

.navbar-engage .dropdown .dropdown-menu > li.active > a {
    color: #3BCE64;
}

.navbar-engage .navbar-nav > li > a:hover, .navbar-engage .navbar-nav > li.active > a, .navbar-engage .navbar-nav > li.open > a, .navbar-engage .navbar-nav > .active > a:hover, .navbar-engage .navbar-nav > .active > a:focus, .navbar-engage .navbar-nav > .open > a:hover {
    color: #57585b;
}

    .navbar-engage .navbar-nav > li a:hover::before, .navbar-engage .navbar-nav > li.active a::before, .navbar-engage .navbar-nav > li.open > a::before, .navbar-engage .navbar-nav > .active > a:focus::before {
        background: #57585b;
    }

.navbar-engage .dropdown .dropdown-menu {
    border-color: #3BCE64;
}

#main-menu > li > a:hover, #main-menu > li.active > a, #main-menu > li.open > a, #main-menu > .active > a:hover, #main-menu > .active > a:focus, #main-menu > .open > a:hover {
    color: #57585b;
}

#main-menu .dropdown .dropdown-menu > li.active > a {
    color: #3BCE64;
}

.open > a {
    color: #3BCE64 !important;
}

.navbar-engage .dropdown .dropdown-menu > li > a:hover, .navbar-engage .dropdown .dropdown-menu > li > a .active {
    color: #57585b;
}

#main-menu .dropdown .dropdown-menu > li > a:hover, #main-menu .dropdown .dropdown-menu > li > a:active {
    color: #57585b;
}

.section-title::before {
    border-color: #3BCE64;
}

.small-title::before {
    border-color: #3BCE64;
}

.page-header-section {
    background: #3BCE64;
}

#service-block-main .service-item:hover i {
    color: #57585b;
    border-color: #57585b;
}

#service-block-main .service-item:hover h2 {
    color: #57585b;
}

#service-block-main .service-item:hover .icon-wrapper::before {
    background: #57585b;
}

#service-block-main .service-item:hover .icon-wrapper::after {
    background: #57585b;
}

#portfolio .portfolio-items figure figcaption:hover {
    background: #57585b;
}

#other-services .other-service-item .icon .icon-medium {
    background: #3BCE64;
}

#other-services .other-service-item:hover .icon-medium {
    background: #666;
}

#other-services .other-service-item .service-content h3 {
    color: #3BCE64;
}

#progress .icon-effect {
    color: #3BCE64;
}

#clients #clients-scroller .owl-pagination .owl-page.active span {
    background: #3BCE64;
}

#clients #clients-scroller .owl-pagination .owl-page span {
    border-color: #3BCE64;
}

#testimonial #testimonial-carousel .carousel-control {
    color: #3BCE64;
}

#testimonial #testimonial-carousel .carousel-control {
    color: #3BCE64;
}

#testimonial .item blockquote small {
    color: #3BCE64;
}

#testimonial .testimonial-inner:before {
    background: rgba(153,204,51,0.2);
}

#blog .blog-item-img .blog-category {
    background: #3BCE64;
}

#blog .blog-item-img .blog-category {
    background: #3BCE64;
}

#blog .blog-item-text h3 {
    color: #3BCE64;
}

#blog .blog-item-text .blog-item-info a:hover {
    color: #3BCE64;
}

#blog .blog-item-text h3 a:hover {
    color: #57585b;
}

.scroll-top:hover {
    background: #57585b;
    border-color: #57585b;
}

.skill-wrapper .progress .progress-bar {
    background-color: #3BCE64;
}

.skill-wrapper .progress .percent {
    color: #3BCE64;
}

#why-choose .icon i {
    color: #3BCE64;
}

#why-choose .tab-container h2 {
    color: #3BCE64;
}

#why-choose .tab-menu .list-group > a.active {
    background: #3BCE64;
}

#notice .notice-content {
    border-color: #3BCE64;
}

#service-block-1 .service-item:hover .service-content h2 {
    color: #3BCE64;
}

#service-block-1 .service-item:hover .icon {
    border-color: #57585b;
}

    #service-block-1 .service-item:hover .icon i {
        background: #57585b;
    }

#service-block-2 .service-inner:hover i {
    color: #3BCE64;
}

#service-block-2 .service-inner:hover h3 {
    color: #57585b;
}

#team-block-2 .team-member:hover {
    border-color: #57585b;
}

.pricing-table-1 .table-header {
    background: #3BCE64;
}

#pricing-block-2 {
    background: #3BCE64;
}

.pricing-table-x .plan .price {
    color: #3BCE64;
}

.pricing-table-x .plan .period {
    color: rgba(153,204,51,0.7);
}

.panel-default .panel-heading a {
    background: #3BCE64;
}

#blog-page .sidebar .search-box .form-control:focus, #blog-page .sidebar .search-box button:focus, #blog-page .sidebar .search-box input:focus, #blog-page .sidebar .search-box textarea:focus {
    border-color: #3BCE64;
}

#blog-page .sidebar .plain-search-btn {
    color: #3BCE64;
}

#blog-page .post-content .reading::after {
    border-color: #3BCE64;
}

.light li a {
    color: #3BCE64;
}

#blog-page .widget-title::before {
    border-color: #3BCE64;
}

.flat li a i {
    background: #3BCE64;
    border-color: #3BCE64;
}

#tabs .tabs-style-2 .nav-tabs li.active a, #tabs .tabs-style-2 .nav-tabs li.active a:hover, #tabs .tabs-style-2 .nav-tabs li.active a:focus, #tabs .tabs-style-2 .nav-tabs li a:hover {
    border-color: #57585b;
    background-color: #57585b;
}

#tabs .tabs-style-2 .nav-tabs {
    border-color: #3BCE64;
}

#contact .contact-info-wrapper .contact-item-wrapper i {
    background: #3BCE64;
}

.preset-bg {
    background: #3BCE64;
}

.dark-bg {
    background: rgba(0,0,0,0.1);
}

.btn-danger {
    background-color: #3BCE64;
    border-color: #3BCE64;
}

    .btn-danger:hover, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
        background-color: #57585b;
        border-color: #57585b;
    }

.page-header .page-header-inner:before {
    background-color: #3BCE64;
    opacity: 0.2;
}

.slicknav_btn {
    border-color: #3BCE64;
}

    .slicknav_btn:hover {
        background: #57585b;
    }

.slicknav_nav a:hover, .slicknav_open .active {
    color: #57585b;
}

.slicknav_menu .slicknav_icon-bar {
    background: #3BCE64;
}

.tparrows.preview2:hover:after {
    color: #57585b;
}

#default-tab .nav-tabs > li > a.active, #default-tab .nav-tabs > li a.active:focus, #default-tab .nav-tabs > li a.active:hover {
    color: #57585b;
}

#default-tab ul.nav-tabs > li a.active::before {
    background-color: #3BCE64;
}

#round-tab ul.nav-tabs {
    border-bottom: 1px solid #3BCE64;
}

#round-tab ul li a.active {
    border-left: 1px solid #3BCE64;
    border-right: 1px solid #3BCE64;
    border-top: 1px solid #3BCE64;
    color: #3BCE64;
}

#vertical-tab ul.nav-tabs li a.active {
    border-bottom: 3px solid #3BCE64;
}

    #vertical-tab ul.nav-tabs li a.active > .fa {
        color: #3BCE64;
    }

#tab-with-icon .nav-tabs li a:hover i, #tab-with-icon .nav-tabs li a:focus, #tab-with-icon .nav-tabs li a.active i {
    background: #57585b none repeat scroll 0 0;
}

.btn-outline {
    border-color: #3BCE64;
    color: #3BCE64;
}

    .btn-outline:hover {
        background: #57585b;
    }

.progress-bar {
    background: #3BCE64;
}

#testimonial .testimonial-footer {
    color: #3BCE64;
}

#testimonial .owl-pagination .owl-page span {
    border: 1px solid #3BCE64;
}

#testimonial .owl-pagination .owl-page.active span {
    background: #3BCE64 none repeat scroll 0 0;
}

#testimonial .testimonial-footer a {
    color: #3BCE64;
}

#single-testimonial-item .testimonial-footer a {
    color: #3BCE64;
}

#single-testimonial-item .owl-pagination .owl-page.active span {
    background: #3BCE64 none repeat scroll 0 0;
}

#single-testimonial-item .owl-pagination .owl-page span {
    border: 1px solid #3BCE64;
}

#color-client-scroller .client-item-wrapper {
    background: #3BCE64 none repeat scroll 0 0;
}

#clients .client-item-wrapper:hover {
    border-color: #57585b;
}

i.icon-default {
    color: #3BCE64;
}

i.icon-round {
    background-color: #3BCE64;
}

i.icon-round-border {
    border: 3px solid #3BCE64;
    color: #3BCE64;
}

i.icon-box {
    background-color: #3BCE64;
}

i.icon-box-border {
    border: 3px solid #3BCE64;
    color: #3BCE64;
}

.blog-post-footer ul li a {
    border: 1px solid #3BCE64;
    color: #3BCE64;
}

    .blog-post-footer ul li a:hover {
        background: #57585b none repeat scroll 0 0;
        border: 1px solid #57585b;
    }

.blog-post-content blockquote.blockquote {
    border-left: 5px solid #3BCE64;
}

.blog-pagination nav ul.pagination li.page-item.active a, .blog-pagination nav ul.pagination li.page-item a:hover, .blog-pagination nav ul.pagination li.page-item a:focus {
    background: #57585b none repeat scroll 0 0;
    border: 1px solid #57585b;
}

.form-control:focus {
    border-color: #3BCE64;
}

h2.widget-title {
    color: #3BCE64;
}

.widget.tag-cloud a {
    background: #3BCE64;
}

.sidebar-area .search-bar button i.fa {
    color: #3BCE64;
}

.contact-title-text h2 {
    color: #3BCE64;
}

.roof-menu ul li.active a {
    color: #3BCE64;
}

.roof-social-icons a i.fa:hover {
    background: #57585b;
}

.service2-single-service .fa {
    background: #3BCE64 none repeat scroll 0 0;
}

.form-control:focus {
    border-color: #3BCE64;
}

.btn-common {
    background: #3BCE64 none repeat scroll 0 0;
}

    .btn-common::before {
        background: #57585b none repeat scroll 0 0;
    }

.back-to-top i {
    background-color: #3BCE64;
}

#carousel-area .carousel-item .carousel-caption {
    color: #3BCE64;
}

.top_search_icon {
    color: #3BCE64;
}

#carousel-area .carousel-indicators li:hover, #carousel-area .carousel-indicators li.active {
    background: #57585b none repeat scroll 0 0;
}

.service-item .icon-wrapper i {
    color: #3BCE64;
}

.split .details-list h3 {
    color: #3BCE64;
}

#other-services .nav-tabs li a:hover i, #other-services .nav-tabs li a:focus, #other-services .nav-tabs li a.active i {
    background: #57585b none repeat scroll 0 0;
}

.btn-common.active {
    background: #7aa427 none repeat scroll 0 0;
}

.sup-desc-wrap .sup-link .left-link, .sup-desc-wrap .sup-link .right-link {
    background: #3BCE64 none repeat scroll 0 0;
    border: 1px solid #3BCE64;
}

.featured-box .featured-icon i {
    color: #3BCE64;
}

#team .team-item figure figcaption .orange-line {
    background: #3BCE64 none repeat scroll 0 0;
}

#team .team-item .social .facebook, #team .team-item .social .twitter, #team .team-item .social .google-plus {
    background: #3BCE64 none repeat scroll 0 0;
    border: 1px solid #3BCE64;
}

.orange-line {
    background: #3BCE64 none repeat scroll 0 0;
}

#cool-facts .facts-item i {
    color: #3BCE64;
}

#testimonial .testimonial-inner:hover {
    border-color: #57585b;
}

#blog .blog-item-text .blog-one-footer i {
    color: #3BCE64;
}

#blog .blog-item-text .blog-one-footer a:hover {
    color: #57585b;
}

.portfolio-meta ul li span {
    color: #3BCE64;
}

#main-menu ul .dropdown .dropdown-menu .dropdown-item.active, #main-menu ul .dropdown .dropdown-menu .dropdown-item.active:focus, #main-menu ul .dropdown .dropdown-menu .dropdown-item.active:hover {
    color: #57585b;
    background-color: #eee;
}

#main-menu .nav-link.active {
    color: #3BCE64;
}

#main-menu .nav-link:hover {
    color: #57585b;
}

.sup-desc-wrap .sup-link a:hover {
    color: #57585b;
}

#team .team-item .social a:hover {
    color: #57585b;
}

#main-menu ul .dropdown .dropdown-menu a:hover, #main-menu .dropdown .dropdown-menu a .active {
    color: #57585b;
}

.top_search_con input:focus {
    border: 1px solid #3BCE64;
}
