body {
  background: $main-container-background;
}

:focus {
  outline: none;
}

.side-menu {
  position: fixed;
  width: $sidemenu-width;
  height: 100%;
  overflow-y: auto;
  background-color: $sidemenu-background;
   transition: 0.3s all;

  .navbar {
    border: none;
    background: none;
  }

  .navbar-header {
    width: 100%
  }

}
.navbar-nav{
  margin:0;
}
.side-menu .navbar-nav .active a {
  background-color: darken($sidemenu-background, 10%);
  color: $sidemenu-anchor-color-active;

  &:hover {
    background-color: darken($sidemenu-background, 5%);
    color: $sidemenu-anchor-color-active;
  }

}

.side-menu .navbar-default .navbar-nav > .active > a,
.side-menu .navbar-default .navbar-nav > .active > a:hover,
.side-menu .navbar-default .navbar-nav > .active > a:focus {
  background-color: darken($sidemenu-background, 5%);
  color: $sidemenu-anchor-color-active;
}

.side-menu .navbar-nav li {
  display: block;
  width: 100%;

  a {
    display: flex;
    padding: 14px 24px;
    color: $sidemenu-anchor-color;

    &:hover {
      background-color: darken($sidemenu-background, 5%);
      color: lighten($sidemenu-anchor-color, 50%);
    }

    i.material-icons {
      margin-right: 8px;
    }

    span {
    }

  }

}

.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: $sidemenu-background;
  box-shadow: none;
  color: $sidemenu-anchor-color;

  .caret {
    margin: 9px 5px 0;
    position: absolute;
    right: 24px;
  }

  
  .panel-body {
    padding: 0;
    background-color: darken($sidemenu-background, 5%);

    ul li a {
      padding-left: 48px;
      color: $sidemenu-anchor-color;
    }

    &.active {
      color: $sidemenu-anchor-color-active;
    }

  }

  .navbar-nav {
    width: 100%;
  }

}

.navbar-default .navbar-nav > li > a:focus {
  color: $sidemenu-anchor-color;
}

.side-menu #dropdown .panel a {
  color: $sidemenu-anchor-color;
}

.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left:15px

  a {
    margin-left: -20px;
    padding-left: 35px;
    background-color: darken($sidemenu-background, 5%);
    color: $sidemenu-anchor-color;
  }

  a:focus {
    color: lighten($sidemenu-anchor-color, 50%);
    background-color: darken($sidemenu-background, 5%);
  }

  a:hover {
    background-color: darken($sidemenu-background, 10%);
  }

}

.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;

  li {
    padding-left: 30px;
  }

  &:last-child {
  }

}

.brand-name-wrapper {
  padding: 24px 25px 13px;
}

.menu-label {
  color: $sidemenu-anchor-color;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 24px 24px 10px;
  display: inline-block;
}

/* Main body section */
.side-body {
  margin-left: $sidemenu-width;
}
.side-menu.disappear{
  width:0;

}
.side-body.fullwidth{
  margin:0;
}

/* small screen */
@media (max-width:768px) {
  .side-menu{
    width:0;
  }
  .side-body{
    margin-left:0;
  }
  .side-menu.disappear{
  width:$sidemenu-width;

}
.side-body.fullwidth{
  margin-left:$sidemenu-width;
}
}