
.content-wrapper{
	padding:30px 0 60px 0;
}
.container-fluid{
padding:0 30px;
}
.view-title{
	font-size:18px;
	margin: 0 0 30px 0;
}
.panel{
	background:#fff;
}
.panel .panel-inner {
    padding: 20px 30px;
}
.panel .panel-heading {
    border-bottom: 1px solid #f3f3f7;
    padding-bottom: 15px;
    position: relative;
}
.module {
    border: 1px solid darken($main-container-background, 2%);

    .panel-heading {
        padding: 0;
        align-items: center;
        padding-bottom:15px;
    }

    .panel-body {
        padding:0;
    }
}
.collapsed .expand-icon-wrap{
	transform:rotate(180deg);
}
.panel-title .expand-icon-wrap .material-icons{
	font-size:14px;
	padding:4px;
	&:hover{
		background:$main-container-background;
	}
}

// Brief-items
.figures-wrapper{
	margin-bottom:30px;
}
.figures-brief{
	text-align:center;
}

.item{
	border-right:1px solid $divider-color;
	&:last-child{
		border-right:none;
	}
}
.item-title{
	h4{
		i{display:block;}
		span{    
			font-size: 13px;
    		color: darken($main-container-background, 30%);
    		font-weight: 300;}
	}
	p{
	font-size: 32px;
    font-weight: 300;
	}
}
.chart-continer{
	padding:10px 0;
}
@media (max-width: 768px){
	.container-fluid {
	    padding: 0 15px;
	}
	.panel .panel-inner {
	    padding: 30px 15px;
	}
	.content-wrapper{
		padding:15px 0 30px 0;	
	}
	.view-title{
		margin: 0 0 20px 0;
	}
}