@using Kachuwa.Web.Form
@using Kachuwa.Web.Grid
@using Kachuwa.Localization
@model ChangePasswordViewModel
@inject ILocaleResourceProvider LocaleResource
@{

    LocaleResource.LookUpGroupAt("User");
    ViewData["Title"] = LocaleResource.Get("User.ChangePassword.PageTitle");
}

 
  <div class="row">
    <div class="col-12 col-sm-5">
        <div class="breadcumb-wrapper pt-3 pt-sm-0 mb-3">
            <h4 class="page-title mb-0">ChangePassword</h4>
            <ul class="breadcrumb breadcrumb-separatorless fw-normal fs-6 pt-1">
                <li class="breadcrumb-item ">
                    <a href="/admin/dashboard" class="">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/user" class="">Users</a>
                        </li>
                  <li class="breadcrumb-item">ChangePassword</li>
            </ul>
        </div>
    </div>
</div> 

@(Html.CreateKachuwaForm<ChangePasswordViewModel>("dd", Model)
        .SetHeading("")
        .ActionUrl("/admin/user/changepassword")
        .CancelUrl("/admin/user")
        .CreateSection(section =>
        {
            section.Add("section1", "form-section", rows =>
            {
                rows.Add("1strow", "", columns =>
                {
                        columns.Add("", "row", @<div class="form-header-wrapper mt-4">
                            <div class="form-header"><h4>Change Password</h4></div>
                        </div>);
                                    columns.Add("right", "col-md-12", control =>
                    {



                        control.Add("form-control", model => model.Email, FormInputControl.Email,new {readOnly=true})
                            .SetFirstParentClass("form-group")
                            .SetSecondParentClass("col-md-6")
                            .SetPlaceHolder("Email")
                            .SetDisplayName("Email");

                        control.Add("form-control", model => model.NewPassword, FormInputControl.Password)
                            .SetFirstParentClass("form-group")
                            .SetSecondParentClass("col-md-6")
                            .SetPlaceHolder("NewPassword")
                            .SetDisplayName("NewPassword");

                        control.Add("form-control", model => model.ConfirmPassword, FormInputControl.Password)
                            .SetFirstParentClass("form-group")
                            .SetSecondParentClass("col-md-6")
                            .SetPlaceHolder("ConfirmPassword")
                            .SetDisplayName("ConfirmPassword");



                    }).SetFirstChildClass("form-section").SetSecondChildClass("row");
                });

            });
                                                                 
        }))
    
